body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

footer {
  text-align: center;
}

.text_muted {
  color: #BCBBBB;
  font-size: 2em;
}

.text_thin {
  font-weight: 100;
  color: #000000;
}

.title_super {
  font-size: 5em;
}
.title_sub {
  font-size: 2.5em;
}

.project_titles{
  font-size: 2em;
}

.line_styled {
  background-color: #7d97ad;
  border-width: 0;
  color: #7d97ad;
  height: 3px;
}
